<div class="container">
  <div class="col-12">
    <h1>Menu</h1>
    <ul>
      <% @cocktails.sort.each do |cocktail| %>
        <li><%= link_to cocktail.name.split.map(&:capitalize)*' ', cocktail %></li>
      <% end %>
    </ul>
  </div>
</div>
