<div class="container">
  <div class="col-12">
    <h1>New Cocktail</h1>
  </div>
  <%= simple_form_for [@cocktail] do |f| %>
    <div class="form-row">
      <div class="col-sm-12 col-md-5">
        <%= f.input :name, label:false, placeholder: 'What is your cocktail called?' %>
      </div>
      <div class="col-sm-12 col-md-5">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
