<h3>Search Result</h3>  

    <% @cocktails.each do |cocktail| %>  
        <%= cocktail.name %><br>  
    <% end %>
    <% @ingredients.each do |ingredient| %>  
        <%= ingredient.name %><br>  
    <% end %>