<div class="container">
  <div class="col-12">
    <%= @cocktail.name %>
    <ul>
      <% @doses.each do |dose| %>
        <li><%= dose.description + dose.ingredient.name %></li>
      <% end %>
    </ul>
  </div>
</div>
