header {
  height: 100vh;
  background-image: 
  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url('https://res.cloudinary.com/dqywsmiax/image/upload/v1593163512/assorted-wine-bottles-1283219_lxkvel.jpg');
  /* flex-box thing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover; 
  margin-top: -7em;
  h1 {
    font-family: 'Alegreya', serif;
  }
 }
 